{erl_opts, [no_debug_info]}.
{deps, []}.

%% the plugin itself
 {project_plugins, [rebar3_proper]}.

{escript_incl_apps,
 [bday_csv]}.
{escript_main_app, bday_csv}.
{escript_name, bday_csv}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}, {deps, [proper]}
            ]}]}.
