{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps, [bday]}.
{escript_main_app, bday}.
{escript_name, bday}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

%% the plugin itself
 {project_plugins, [rebar3_proper]}.
 %% The PropEr dependency is still required to compile the test cases,
 %% but only as a test dependency
 {profiles,
	 [{test, [
	 {deps, [proper]}
	 ]}
 ]}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["src/*.erl","test/*.erl", "src/tests/tuple/*.tests"]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}
]}.