%% the plugin itself
{project_plugins, [rebar3_proper]}.

%% The PropEr dependency is still required to compile the test cases,
%% but only as a test dependency
{profiles,
    [{test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper]}
    ]}
]}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["src/*.erl","test/*.erl"]},
    {formatter, otp_formatter},
    {options, #{paper => 80}},
    {truncate_strings, false }    
]}.