{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {ex01_bday, "0.1.0"},
         [ex01_bday,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

%% the plugin itself
 {project_plugins, [rebar3_proper]}.
 %% The PropEr dependency is still required to compile the test cases,
 %% but only as a test dependency
 {profiles,
	 [{test, [
	 {eunit_opts, [verbose]},
	 {deps, [proper]}
	 ]}
 ]}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["apps/bday/src/*.?rl","apps/bday/test/*.?rl"]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}
]}.